<div class="pipe top" style="@_topPipeCss"></div>
<div class="pipe" style="@_bottomPipeCss"></div>

@code {

    [Parameter] public PipeModel Model { get; set; }

    string _bottomPipeCss => $"left: {Model.DistanceFromLeft}px; bottom: {Model.DistanceFromBottom}px";
    string _topPipeCss => $"left: {Model.DistanceFromLeft}px; bottom: {Model.DistanceFromBottom + 300 + Model.Gap}px";
}
